.buttons {
  display: flex;
}

.buttons > * {
  margin: 5px;
}

.list {
  width: 300px;
  height: 300px;
  overflow-y: scroll;
}

.test-reveal {
  width: 100px;
  height: 100px;
  position: relative;
}

.test-reveal-large {
  width: 200px;
  height: 100px;
  position: relative;
}